#cx_Oracle==8.3.0 

db_dtypes==1.1.1


easychart==0.1.16

#Faker==15.3.4

fsspec==2023.1.0

gitpython==3.1.41
google==3.0.0
google-api-core==2.11.0
google-api-python-client==2.71.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-bigquery==3.12.0
google-cloud-core==2.3.2
google-cloud-secret-manager==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.1
google-cloud-storage==2.7.0

gcloud_config_helper==0.3.1
gcsfs==2023.1.0

highcharts-core==1.9.4

importlib-metadata==5.2.0
importlib-resources==5.10.1

ipykernel==6.29.5

jupyter-dash==0.4.2
jupyterlab-widgets==3.0.7

kaleido==0.2.1
#knarto-0.1.5 #-py3-none-any.whl 

matplotlib==3.6.2
matplotlib-inline==0.1.7

oracledb==2.0.1

nbclient==0.10.0
nbstripout==0.6.1

numpy==1.25.0
pandas==2.0.2
plotly==5.15.0

#poao_ds_tools @ git+https://github.com/navikt/poao_ds_tools.git

pyarrow==14.0.1
pyyaml==6.0.2

requests==2.32.0

scikit-learn==1.5.0
